@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --lm-text: #282f3d;
  --lm-bg: #ffffff;
}

body {
  background: var(--lm-bg);
  color: var(--lm-text);
  font-family: Arial, Helvetica, sans-serif;
}

.clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
}

.scaled {
  transform: scale(1);
  transition: transform 0.5s;
}
.scaled:hover {
  transform: scale(0.95);
}
