@import "tailwindcss";

:root {
  --lightmode-bg: #ffffff;
  --lightmode-text: #282f3d;
}

@theme {
  --color-blue-700: #1447e6; /* main color */
  --color-blue-900: #1c398e; /* hover color */
  --color-neutral-100: #f5f5f5; /* gray bg color */
  --color-coal-1: #282f3d; /* coal bg color */
  --color-bright-coal: #4a5565; /* small paragraphs color */
  --color-white-1: #fff; /* some text color */
}

/* * {
  border: 1px solid red;
} */

body {
  background: var(--lightmode-bg);
  color: var(--lightmode-text);
  font-family: Arial, Helvetica, sans-serif;
}

.clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
}

.scaled {
  transform: scale(1);
  transition: transform 0.5s;
}
.scaled:hover {
  transform: scale(0.95);
}

.box {
  transform: perspective(60rem) rotateY(-20deg);
}

@media (max-width: 1024px) {
  .box {
    transform: none;
  }

  .clip-path {
    clip-path: none;
  }
}

.drop-shadow {
  filter: drop-shadow(0 0 0.5rem #1447e6);
}

.bg-img {
  background-image: url("../../public/JavascriptFrameworks.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
